#siteLoadingScreen {
  border-radius:50%;
  height: 150vmax;
  width: 150vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f1ed;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 2rem;
  color: #393D36;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  transition: 
    width 0.5s ease,
    height 0.5s ease,
    opacity 2s 0.5s ease,
    visibility 2s 0.5s ease;
/*    transform 0.5s ease;*/
}
#siteLoadingScreenContainer {
  width: 50vw;
  max-width: 250px;
}
#siteLoadingScreenLogo {
  width: 100%;
}
#siteLoadingIcons {
  display: flex;
  column-gap: 2px;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}
.siteLoadingIcon {
  width: 100%;
  color: black;
}
.hidden {
  opacity: 0 !important;
  visibility: hidden !important;
  height: 0 !important;
  width: 0 !important;
}
.pulse {
  transform: scale(1);
  animation: pulse 1.5s ease-in-out infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
}

@keyframes pulse {
  0% {
    transform: scale(1)
  }
  20% {
    transform: scale(1.3)
  }
  30% {
    transform: scale(0.95)
  }
  40% {
    transform: scale(1)
  }
  100% {
    transform: scale(1)
  }

}
